<div class="app-container">
    <app-daily-quote></app-daily-quote>

  <!-- <div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="w-100" style="max-width: 500px;">
        <h1 class="text-center">All Quotes List</h1>

        <div *ngIf="loading$ | async" class="text-center">Loading quotes...</div>

        <ul *ngIf="!(loading$ | async)" class="list-group">
            <li *ngFor="let quote of quotes$ | async" class="list-group-item">
                {{ quote.quoteText }} <span class="text-muted">({{ quote.quoteAuthor }})</span>
            </li>
        </ul>
    </div>
</div> -->
  <router-outlet />
</div>
