<div class="row">
  <div class="btn-group" dropdown>
    <i
      type="button"
      aria-controls="share-dropdown"
      dropdownToggle
      class="fa-solid fa-share p-2 rounded-pill"
      id="button-autoclose1"
    ></i>
    <ul
      id="share-dropdown"
      *dropdownMenu
      class="dropdown-menu dropdown-horizontal"
      role="menu"
      aria-labelledby="button-autoclose1"
    >
      <li role="menuitem"><a class="dropdown-item" href="#">x</a></li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">x</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">x</a>
      </li>
       <li role="menuitem">
        <a class="dropdown-item" href="#">x</a>
      </li>
    </ul>
  </div>
</div>
