html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f0f0f0;


  align-items: start;
  min-height: 100vh;
}

.app-container {
//   background: linear-gradient(to bottom, #ffffff, #f0f0f0, #d8d8d8);
background: linear-gradient(to bottom, #f0f0f0, #d5d5d5, #bbbbbb);
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden; // ✅ prevents internal scroll unless you allow it
  position: relative;
}

//If needed, use overflow-y: auto in child components where scrolling should happen.