<div
  class="quote-container d-flex justify-content-center align-items-center min-vh-100"
>
<!-- share button -->
  <div class="d-flex justify-content-end pb-3">
     <app-share-button [quote]="quoteOfTheDay$ | async"></app-share-button>
  </div>
  <!-- quote -->
  <div class="block-text w-100 mt-5 p-5 bg-transparent">
    <div *ngIf="loading$ | async" class="loading-container">
      <div class="spinner"></div>
      <p>Loading quotes...</p>
    </div>

    <div *ngIf="quoteOfTheDay$ | async as quote">
      <h2 class="text-body text-end shiny-text">
        {{ quote.quoteText }}
      </h2>
      <h6 class="text-end mt-2 neutral-text">
        {{ quote.quoteAuthor }}
      </h6>
    </div>
  </div>
</div>
 