.quote-container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.text-body {
  line-height: 1.5;
}
.border-sidefie {
  border-image: linear-gradient(135deg, #e2dfdf, #a3a2a2) 1;
  border-style: solid;
  border-width: 1px;
}
