.quote-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.text-body {
  line-height: 1.5;
  // TODO: add a check of device and make this responsive
}
.fa-share {
  color: #a3a2a2;
  box-shadow: 0 0 0 1px #a3a2a2;
  background-color: #4f4d4d;
  font-size: 1.5rem;
  cursor: pointer;
}
.shiny-text {
  background: linear-gradient(140deg, #3a8f48, #8b2a57, #877c17, #172a72);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 700;
}
.neutral-text {
  color: #645c0f;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 500;
}
